h1{
    text-align: center;
}

#h1{
    margin-top:1.5em;
    margin-bottom:1.6em;
}

h2, #description{
  text-align: left;
}

#des{
    margin-top:2em;
    margin-bottom:2.5em;
}

.h2{
    font-weight:400;
}

#h3{
    font-weight:300;
}

Table{
  padding:4em;
}

h3{
  text-align: center;
}

#showMoreButton{
    color:white;
    text-decoration: none;
    float:right;
}

#img{
    max-width: 150px;
    max-height: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#des{
    background-color: #F5F5F5;
    padding: 1em;;
}

tr, tb, Table thead th{
    text-align: center;
}

#col{
    margin-bottom: 4em
}

#grid{
    margin-top: 3em;
}