.rc-slider{
    padding-top: 15px;
}

.submit {
    float: right;
}

.insertTitle {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
}

@media (max-width: 985px) {
    .insertTitle {
    font-size: 2em;
    margin-left: 1.5em;
}

}