App {
  text-align: center;
}

h1, h2 {
    font-weight: 300;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #999;
  height: 180px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.searchBar {
  display:block;
  padding-top: 0.4em;
  margin-bottom: 1.5em;
  text-align: center;
  float: none;
}

.searchInput {
  height: 2.2em;
  background-color: #eee;
  color: black;
  border-radius: 0.2em;
}

.addButton {
  margin: 1em;
  margin-bottom: 3em;
}

.navbar-right {
  margin-right: 2em;
}
.App-footer {
  background-color: #222;
  height: 210px;
  padding: 20px;
  color: #9d9d9d;
  position: relative;
  bottom: 0;
  font-size: 1.2em;
  margin-top: 5em;
  text-align: center;
}

.courseItem {
  text-align: left;
}

.list-group {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 2em; 
}

.page-container {
  text-align: center;
  padding-bottom: 3em;
  padding-top: em;
}

#navbar {
  border-radius: 0;
}
#navbarCollapse {
  text-align: center;
}
.carousel-caption{
  /*position: relative;*/
  font-size: 1.4vw;
}

.carousel-caption h3{
  /*position: relative;*/
  font-size: 2.5vw;
} 
@media (max-width: 985px) {
  .carousel-caption p {
    font-size: 0em;
  }
  .carousel-caption h3 {
    font-size: 3.8vw;
    margin: 0;
    padding: 0.5vw;
  }
  .navbar-right {
    margin: auto;
}

}
.navbar {
  margin-bottom: 0;
}

.item img {
  opacity: 4;
  filter: brightness(60%);
} 

.greeting {
  margin: 5vw;
  font-size: 4.5vw;
  text-align: center;
}

.pics{
  width: 3.5em;
  height: 3.5em;
  padding: 0;
}

.picHover:hover{
  opacity: 1.5;
}

.picRow {
  width: 80%;
  text-align: center;
  margin: auto;
}

.footer {
  clear: both;
  text-align: center;
  margin-top: -0.2em;
  margin-bottom: 1.7em;
  font-size: 1.25em;
}

.avatar-container {
  padding: 0;
}

.last {
  font-size: 1em;
  margin-top: 130px;
  margin-bottom: 0em;
}

.last a {
    text-decoration: none;
    color: #9d9d9d;
    font-weight: 400;
}

.last a:hover {
  color: white;
}

.form {
  margin: 3em;
}

.aboutPara {
   margin: 2.8em;
   font-size: 1.2em;
   color: #333;
}

 .aboutPara h1 {
   font-size: 3.5em;
   margin-bottom: 0.5em;
 }

.aboutPara p {
    padding: 0.3em;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
  }

.navbar {
  margin-bottom: 0px;
}
