.info {
  float: left;
  margin-top: 50px;
  text-align: middle;
}

h2 {
  text-align: center;
}

.label {
  margin: 5px;
}

.rating, .comment-box  {
  margin-top: 50px;
}

.tag {
  overflow: hidden;
  font-size: 20px;
}

.rate {
  display: inline;
  margin-right: 3%;
  font-weight: bold;
  color: #4B0082;
}

.media-body {
  text-align: left;
}

.jumbotron {
  margin-top: 30px;
}

.comment {
  margin-top: 20px;
}

.button {
  border-radius: 4px;
  background-color: #333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.date {
  color: #666;
  margin-left: 0.5em;
}

img {
  height: 250px;
  width: 200px;
}