.info {
  float: left;
  margin-top: 50px;
  text-align: middle;
}

h2 {
  text-align: center;
}

.label {
  margin: 5px;
}

.rating, .comment-box  {
  margin-top: 50px;
}

.tag {
  overflow: hidden;
  font-size: 20px;
}

.rate {
  display: inline;
  margin-right: 3%;
  font-weight: bold;
  color: #4B0082;
}

.media-body {
  text-align: left;
}

.jumbotron {
  margin-top: 30px;
}

.comment {
  margin-top: 20px;
}
